body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    flex-direction: column;
    margin-top: -80px;
}

.logo {
    margin-top: 24rem;
    mix-blend-mode: multiply;
}


#mainTitle{
    color: #DA291C;
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

#start {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

#start::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

#start:hover::before {
  transform: scaleY(0);
}

#start::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

#start:hover::after {
  transform: scaleX(0);
}

#start span {
  position: relative;
  z-index: 3;
}

#startButton {
  background-color: none;
  text-decoration: none;
  background-color: #212121;
  border: none;
}

#step2 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}


.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.toggle-input {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 34px;
  border-radius: 17px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.toggle-label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: #FFC72C;
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(26px);
}



label {
    display: block;
    margin-bottom: 8px;
    color: black;
    
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 0.5px solid #FFC72C;
    border-radius: 5px;
    
    outline: none;
}

input:focus {
    border-color: #FFC72C; 
    border-width: 2px;
}

.file-upload-form {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload-label input {
  display: none;
}
.file-upload-label svg {
  height: 50px;
  fill: rgb(82, 82, 82);
  margin-bottom: 20px;
}
.file-upload-label {
  cursor: pointer;
  background-color: #ddd;
  padding: 30px 70px;
  border-radius: 40px;
  border: 2px dashed rgb(82, 82, 82);
  box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse-button {
  background-color: rgb(82, 82, 82);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.browse-button:hover {
  background-color: rgb(14, 14, 14);
}


#registration{
    padding-top: 10px;
    display: flex;
}


#signupForm {
    border: 1px solid #FFC72C;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    border-width: 2px;
    display: none;
    margin-bottom: 6rem;
}


#signupButton {
    background-color: #FFC72C;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}
